flow.json
[
    {
        "id": "6303cb044297e248",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79132b16f49f3e45",
        "type": "microphone",
        "z": "6303cb044297e248",
        "name": "",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "f4b9a4d24ced93ba"
            ]
        ]
    },
    {
        "id": "f4b9a4d24ced93ba",
        "type": "watson-speech-to-text",
        "z": "6303cb044297e248",
        "name": "",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": true,
        "lang": "ja-JP",
        "langhidden": "ja-JP",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "BroadbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "zz90Qg2fw0Zl5c_TnZ5owoQDxIgeN3K2PeQFwP7G9emY",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.jp-tok.speech-to-text.watson.cloud.ibm.com/instances/a02d5cc9-0910-41df-9fb9-efffffa15e21",
        "x": 560,
        "y": 80,
        "wires": [
            [
                "d30e78043f0ba369"
            ]
        ]
    },
    {
        "id": "2c9078fe93688e42",
        "type": "function",
        "z": "6303cb044297e248",
        "name": "",
        "func": "msg.payload = msg.payload.replace(/ /g, \"\");\n//context.global.system.timezone = \"ASIA/TOKYO\";\nvar context = {\n    \"context\": {\n        \"global\": {\n            \"system\": {\n                \"timezone\": \"ASIA/TOKYO\"\n            }\n        }\n    }\n};\n\n//msg.additional_context = context;\nmsg.additional_context = {\n    \"timezone\": \"ASIA/TOKYO\"\n}\n\n//msg.additional_context.timezone = \"ASIA/TOKYO\";\nmsg.additional_context.user_id = \"yanagih\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "f464ac0b30c4c7a8",
        "type": "watson-text-to-speech",
        "z": "6303cb044297e248",
        "name": "",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_LisaV3Voice",
        "voicehidden": "en-US_LisaV3Voice",
        "format": "audio/mp3",
        "password": "",
        "apikey": "1CX7YxtjN5awWVZlrrT6QbYMw4MSgrcdk-k-K55aVbz8",
        "payload-response": true,
        "service-endpoint": "https://api.jp-tok.text-to-speech.watson.cloud.ibm.com/instances/9ceb0de1-aadd-4a46-8c20-9d33aedd2798",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "4fc7dfba2097840d"
            ]
        ]
    },
    {
        "id": "4fc7dfba2097840d",
        "type": "play audio",
        "z": "6303cb044297e248",
        "name": "",
        "voice": "0",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "e823378a2de06b7e",
        "type": "function",
        "z": "6303cb044297e248",
        "name": "",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "1a59aa811fa8d6a3",
        "type": "debug",
        "z": "6303cb044297e248",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 740,
        "wires": []
    },
    {
        "id": "d30e78043f0ba369",
        "type": "watson-translator",
        "z": "6303cb044297e248",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "ja",
        "destlang": "en",
        "apikey": "YRFME-tfBMIxOWktNBLY4OYgmjUua43HihTo3sWSsK5L",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "ja",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.jp-tok.language-translator.watson.cloud.ibm.com/instances/c3f613c4-3c81-4cbd-8980-e91099f2af35",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "f464ac0b30c4c7a8"
            ]
        ]
    },
    {
        "id": "1866d1d48477de4f",
        "type": "function",
        "z": "6303cb044297e248",
        "name": "",
        "func": "msg.payload = msg.payload.replace(/ /g, \"\");\n//context.global.system.timezone = \"ASIA/TOKYO\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e922731b92cdf2b4",
        "type": "inject",
        "z": "6303cb044297e248",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "fae525d2b41655bc"
            ]
        ]
    },
    {
        "id": "fae525d2b41655bc",
        "type": "debug",
        "z": "6303cb044297e248",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 460,
        "wires": []
    }
]